.tasks {
  max-width: 736px;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.875rem;
}

.header div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.header div span {
  background: var(--gray-400);
  padding: 2px 8px;
  border-radius: 999px;
  color: var(--gray-200);
  font-size: 0.75rem;
  font-weight: bold;
}

.header div .spanDe {
  background: var(--gray-400);
  padding: 2px 10px;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: bold;
}

.TasksCreate p {
  color: var(--blue);
  font-weight: bold;
}

.isClompleteTitle {
  text-decoration-line: line-through;
  color: var(--gray-300);
}

.finished p {
  color: var(--purple);
  font-weight: bold;
}

.empty {
  width: 500px;
  margin: 0 auto;
}

.info {
  margin-top: 24px;
  width: 100%;
}

.info li {
  display: flex;
  align-items: start;
  gap: 12px;
  background: var(--gray-400);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 12px;
  height: 72px;
}

.info li p {
  max-width: 632px;
  width: 100%;
  word-wrap: break-word;
  font-size: 0.874rem;
  line-height: 140%;
}
.delete {
  cursor: pointer;
  line-height: 0; /*// centraliza o img no button*/
  border: none;
  background: transparent;
  color: var(--gray-300);
}

.delete:hover {
  background: var(--gray-400);
  color: var(--danger);
}

.checked {
  height: 17.45px;
  width: 17.45px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  border: 2px solid var(--blue);
  background: transparent;
}

.checked:hover {
  background: var(--blue-dark);
}

.checkedActive {
  height: 17.45px;
  width: 17.45px;
  border-radius: 50%;
  line-height: 0; /*// centraliza o img no button*/
  cursor: pointer;
  border: none;
  background: var(--purple-dark);
  color: var(--gray-100);
}

.checkedActive:hover {
  background: var(--purple);
}
